<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="es">
	<!-- Juegos de Carácteres -->
		<meta charset="utf-8"/>
		<!-- Autor -->
		<meta name="author" content="Roberto Gian Franco Carbonell Saravia"/>
		<!-- Descripción de la Página Web -->
		<meta name="description" content=" Sistemas - ERP"/>
		<!-- Mobile -> verificar si deseas zoom en user-->
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
		<!-- Compatibilidad Internet Explorer -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

		<meta name='csrf-token' content={{ csrf_token }}>
		<!-- Titulo -->
		<title>.::{% block title %} {% endblock title %}::.</title>

		<!-- Icono del navegador -->
		<link rel= "shortcut icon" href="#" type="image/x-icon"/>
		<!-- Estilos y Diseños -->
		<link rel="stylesheet" href="{% static "stylesheets/styles.css" %}"/>
		
		
	<body>
		<header class=" {% block position_absolute_header %} {% endblock position_absolute_header %} ">
			{% block header %}
			{% endblock header %}
			<nav>
				{% block nav %}
				{% endblock nav%}
			</nav>
		</header>	
		<aside>
			{% block aside %}
			{% endblock aside %}
		</aside>
		<section>
			{% block section %}
			{% endblock section %}
		</section>
		<footer class="{% block position_absolute_footer %} {% endblock position_absolute_footer %}">
			{% block footer %}
			{% endblock footer %}
		</footer>

		{% block script_template %}
		    
		{% endblock script_template %}
		<script type="text/javascript" src="{% static "javascripts/main.js"%} "></script>
	</body>
</html>