@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?eubzs3');
    src:    url('../fonts/icomoon.eot?eubzs3#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?eubzs3') format('truetype'),
        url('../fonts/icomoon.woff?eubzs3') format('woff'),
        url('../fonts/icomoon.svg?eubzs3#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-sign-out2:before {
    content: "\e95e";
}
.icon-log-out:before {
    content: "\e95d";
}
.icon-3d_rotation:before {
    content: "\e84d";
}
.icon-schedule:before {
    content: "\e8b5";
}
.icon-add_a_photo:before {
    content: "\e439";
}
.icon-alarm_add:before {
    content: "\e856";
}
.icon-add_box:before {
    content: "\e146";
}
.icon-control_point:before {
    content: "\e3ba";
}
.icon-add_location:before {
    content: "\e567";
}
.icon-add_shopping_cart:before {
    content: "\e854";
}
.icon-add_to_queue:before {
    content: "\e05c";
}
.icon-all_out:before {
    content: "\e955";
}
.icon-apps:before {
    content: "\e5c3";
}
.icon-blur_on:before {
    content: "\e3a5";
}
.icon-check:before {
    content: "\e5ca";
}
.icon-navigate_before:before {
    content: "\e408";
}
.icon-navigate_next:before {
    content: "\e409";
}
.icon-close:before {
    content: "\e5cd";
}
.icon-code:before {
    content: "\e86f";
}
.icon-content_cut:before {
    content: "\e14e";
}
.icon-control_point_duplicate:before {
    content: "\e3bb";
}
.icon-copyright:before {
    content: "\e94e";
}
.icon-crop:before {
    content: "\e3be";
}
.icon-crop_free:before {
    content: "\e3c2";
}
.icon-crop_rotate:before {
    content: "\e437";
}
.icon-done:before {
    content: "\e876";
}
.icon-done_all:before {
    content: "\e877";
}
.icon-expand_less:before {
    content: "\e5ce";
}
.icon-expand_more:before {
    content: "\e5cf";
}
.icon-favorite_border:before {
    content: "\e87e";
}
.icon-fingerprint:before {
    content: "\e94f";
}
.icon-flash_on:before {
    content: "\e3e7";
}
.icon-graphic_eq:before {
    content: "\e1b8";
}
.icon-keyboard_arrow_left:before {
    content: "\e314";
}
.icon-keyboard_arrow_right:before {
    content: "\e315";
}
.icon-mic:before {
    content: "\e029";
}
.icon-mic_none:before {
    content: "\e02a";
}
.icon-mic_off:before {
    content: "\e02b";
}
.icon-reply:before {
    content: "\e15e";
}
.icon-reply_all:before {
    content: "\e15f";
}
.icon-rotate_left:before {
    content: "\e419";
}
.icon-rotate_right:before {
    content: "\e41a";
}
.icon-subdirectory_arrow_right:before {
    content: "\e5da";
}
.icon-favorite_outline:before {
    content: "\e900";
}
.icon-clock:before {
    content: "\e901";
}
.icon-music2:before {
    content: "\e950";
}
.icon-key3:before {
    content: "\e951";
}
.icon-plus:before {
    content: "\e952";
}
.icon-minus3:before {
    content: "\e953";
}
.icon-picture:before {
    content: "\e954";
}
.icon-folder:before {
    content: "\e97b";
}
.icon-camera2:before {
    content: "\e97c";
}
.icon-search2:before {
    content: "\e97d";
}
.icon-feed:before {
    content: "\e97e";
}
.icon-play:before {
    content: "\e97f";
}
.icon-pause2:before {
    content: "\e980";
}
.icon-console:before {
    content: "\e981";
}
.icon-film2:before {
    content: "\e982";
}
.icon-earth:before {
    content: "\e902";
}
.icon-checkmark:before {
    content: "\e983";
}
.icon-cancel2:before {
    content: "\e984";
}
.icon-trashcan:before {
    content: "\e985";
}
.icon-bolt:before {
    content: "\e986";
}
.icon-list3:before {
    content: "\e903";
}
.icon-grid:before {
    content: "\e904";
}
.icon-target:before {
    content: "\e956";
}
.icon-keyboard:before {
    content: "\e987";
}
.icon-database:before {
    content: "\e988";
}
.icon-minus:before {
    content: "\e905";
}
.icon-sign-out:before {
    content: "\e95c";
}
.icon-credit-card:before {
    content: "\e906";
}
.icon-home:before {
    content: "\e961";
}
.icon-pencil2:before {
    content: "\e907";
}
.icon-images:before {
    content: "\e908";
}
.icon-film:before {
    content: "\e909";
}
.icon-bullhorn:before {
    content: "\e962";
}
.icon-library:before {
    content: "\e90a";
}
.icon-file-text:before {
    content: "\e90b";
}
.icon-profile:before {
    content: "\e90c";
}
.icon-file-text2:before {
    content: "\e90d";
}
.icon-barcode:before {
    content: "\e963";
}
.icon-qrcode:before {
    content: "\e964";
}
.icon-envelop:before {
    content: "\e90e";
}
.icon-location2:before {
    content: "\e965";
}
.icon-location22:before {
    content: "\e966";
}
.icon-compass:before {
    content: "\e967";
}
.icon-compass2:before {
    content: "\e968";
}
.icon-clock3:before {
    content: "\e969";
}
.icon-alarm:before {
    content: "\e96a";
}
.icon-stopwatch:before {
    content: "\e96b";
}
.icon-printer:before {
    content: "\e96c";
}
.icon-bubbles3:before {
    content: "\e989";
}
.icon-bubbles4:before {
    content: "\e90f";
}
.icon-user2:before {
    content: "\e98a";
}
.icon-users:before {
    content: "\e910";
}
.icon-user-plus:before {
    content: "\e911";
}
.icon-user-minus:before {
    content: "\e912";
}
.icon-user-check:before {
    content: "\e913";
}
.icon-hour-glass:before {
    content: "\e98b";
}
.icon-spinner:before {
    content: "\e914";
}
.icon-spinner2:before {
    content: "\e915";
}
.icon-spinner3:before {
    content: "\e916";
}
.icon-spinner9:before {
    content: "\e957";
}
.icon-spinner10:before {
    content: "\e958";
}
.icon-search3:before {
    content: "\e96d";
}
.icon-zoom-in:before {
    content: "\e96e";
}
.icon-zoom-out:before {
    content: "\e96f";
}
.icon-enlarge:before {
    content: "\e970";
}
.icon-shrink:before {
    content: "\e971";
}
.icon-enlarge2:before {
    content: "\e972";
}
.icon-shrink2:before {
    content: "\e973";
}
.icon-key2:before {
    content: "\e974";
}
.icon-key22:before {
    content: "\e975";
}
.icon-cog:before {
    content: "\e976";
}
.icon-cogs:before {
    content: "\e977";
}
.icon-magic-wand:before {
    content: "\e98c";
}
.icon-stats-dots:before {
    content: "\e978";
}
.icon-stats-bars:before {
    content: "\e98d";
}
.icon-switch:before {
    content: "\e95b";
}
.icon-list-numbered:before {
    content: "\e917";
}
.icon-list:before {
    content: "\e918";
}
.icon-list2:before {
    content: "\e919";
}
.icon-menu:before {
    content: "\e91a";
}
.icon-download2:before {
    content: "\e98e";
}
.icon-upload2:before {
    content: "\e98f";
}
.icon-star-empty:before {
    content: "\e91b";
}
.icon-man:before {
    content: "\e990";
}
.icon-woman:before {
    content: "\e991";
}
.icon-man-woman:before {
    content: "\e992";
}
.icon-cancel-circle:before {
    content: "\e91c";
}
.icon-cross:before {
    content: "\e91d";
}
.icon-enter:before {
    content: "\e993";
}
.icon-exit:before {
    content: "\e994";
}
.icon-play2:before {
    content: "\e995";
}
.icon-pause:before {
    content: "\e996";
}
.icon-stop:before {
    content: "\e997";
}
.icon-previous:before {
    content: "\e998";
}
.icon-next:before {
    content: "\e999";
}
.icon-backward:before {
    content: "\e99a";
}
.icon-forward2:before {
    content: "\e99b";
}
.icon-loop2:before {
    content: "\e91e";
}
.icon-circle-up:before {
    content: "\e959";
}
.icon-circle-right:before {
    content: "\e979";
}
.icon-circle-down:before {
    content: "\e95a";
}
.icon-circle-left:before {
    content: "\e97a";
}
.icon-radio-checked:before {
    content: "\e99c";
}
.icon-file-pdf:before {
    content: "\e99d";
}
.icon-file-excel:before {
    content: "\e99e";
}
.icon-heart:before {
    content: "\e91f";
}
.icon-cloud:before {
    content: "\e920";
}
.icon-star:before {
    content: "\e921";
}
.icon-tv:before {
    content: "\e922";
}
.icon-sound:before {
    content: "\e923";
}
.icon-video:before {
    content: "\e924";
}
.icon-trash:before {
    content: "\e925";
}
.icon-user:before {
    content: "\e926";
}
.icon-key:before {
    content: "\e927";
}
.icon-search:before {
    content: "\e928";
}
.icon-settings:before {
    content: "\e929";
}
.icon-camera:before {
    content: "\e92a";
}
.icon-tag:before {
    content: "\e92b";
}
.icon-lock:before {
    content: "\e92c";
}
.icon-bulb:before {
    content: "\e92d";
}
.icon-pen:before {
    content: "\e92e";
}
.icon-diamond:before {
    content: "\e92f";
}
.icon-display:before {
    content: "\e930";
}
.icon-location:before {
    content: "\e931";
}
.icon-eye:before {
    content: "\e932";
}
.icon-bubble:before {
    content: "\e933";
}
.icon-stack:before {
    content: "\e934";
}
.icon-cup:before {
    content: "\e935";
}
.icon-phone:before {
    content: "\e936";
}
.icon-news:before {
    content: "\e937";
}
.icon-mail:before {
    content: "\e938";
}
.icon-like:before {
    content: "\e939";
}
.icon-photo:before {
    content: "\e93a";
}
.icon-note:before {
    content: "\e93b";
}
.icon-clock2:before {
    content: "\e93c";
}
.icon-paperplane:before {
    content: "\e93d";
}
.icon-params:before {
    content: "\e93e";
}
.icon-banknote:before {
    content: "\e93f";
}
.icon-data:before {
    content: "\e940";
}
.icon-music:before {
    content: "\e941";
}
.icon-megaphone:before {
    content: "\e942";
}
.icon-study:before {
    content: "\e943";
}
.icon-t-shirt:before {
    content: "\e944";
}
.icon-fire:before {
    content: "\e945";
}
.icon-clip:before {
    content: "\e946";
}
.icon-shop:before {
    content: "\e947";
}
.icon-calendar:before {
    content: "\e948";
}
.icon-wallet:before {
    content: "\e949";
}
.icon-vynil:before {
    content: "\e94a";
}
.icon-truck:before {
    content: "\e94b";
}
.icon-world:before {
    content: "\e94c";
}
.icon-note-list:before {
    content: "\e94d";
}
.icon-cancel:before {
    content: "\e95f";
}
.icon-minus2:before {
    content: "\e960";
}

