.SubRayado
	bottom 0 
	height 7px 
	width 30% 
	border-radius 0 .5em 0 0
	background black
	display block
.Rayado
	bottom 0 
	height 3px 
	width 100% 
	border-radius 0 .5em 0 .5em

.Border-Bottom-Rojo
	border-bottom 1px solid red
.Border-Bottom-Negro
	border-bottom 1.5px solid black
.Font-Weight-Bolder
	font-weight bolder
.Margin-Up-Down
	margin 1em 0	
.Text-Align-Left
	text-align left 
	
.Text-Upper-Case
	text-transform uppercase
	
.TitleGroup 
	padding 0 .5em
	text-transform uppercase
	display block
	font-weight bolder
.RotuloContainer 
	padding 1em 0 	

@media screen and (min-width:480px)
	.RotuloContainer 
		width 100%
@media screen and (min-width:1000px)
	.SubRayado 
		width 25%
	.RotuloContainer 
		width 65%