.Color_Azul 
	color azul
.Color_Amarillo
	color yellow
.Color_Celeste
	color celeste
.Color_Rojo 
	color rojo
.Color_Blanco
	color white
.Color_Negro
	color black
.ContainerRotulo 
	width 100%
	margin .8em 0 