{% extends 'base_menu_nav.html' %}
{% load static from staticfiles %}

{% block title %} 
	Create - Clase Entidad
{% endblock %}

<!-- Header -->

<!-- Color de Fondo -->
{% block color_fondo_headMenu %} 
	Fondo-Azul
{% endblock color_fondo_headMenu %}

<!-- Head URL del Menu -->
{% block url_menu%} 
	
{% endblock url_menu%}
<!-- Head Titulo -->
{% block titulo_menu%}
	Menu | Clase Entidad
{% endblock titulo_menu%}

<!-- Avatar Sistema -->
{% block avatar_sistema %} 
	{% static 'imagenes/ico/Panel-Control-1.ico' %}
{% endblock avatar_sistema %}
<!-- Avatar Modulo -->
{% block avatar_modulo %} 
	{% static 'imagenes/ico/Login-1.ico' %}
{% endblock avatar_modulo %}

<!-- Section -->
{% block section %}

	<article class="ContainerForm">
		<!-- Titulo -->
		<div class="Marco DetailHead">
			<h3 class="Rotulo">
				Nueva Clase Entidad
			</h3>
			<p class="SubRayado">  
				
			</p>
		</div>
		<!-- Formulario -->
		<form action="" method="post" enctype="multipart/form-data" class="Form">
			{% csrf_token %}
			<div class="Box">
				<div class="InputContainer">
					<label for="{{ form.nombre.auto_id }}" class="Label">
					{{form.nombre.label}} <!-- label_tag | Completo -->
					</label>
					{{form.nombre}}
				</div>
				{{form.nombre.errors}}
			</div>
			
			<div class="Box">	
				<input type="submit" value="Registrar." class="Submit"/>
			</div>
			<div class="MensajeError">
				<p class="TextError">
					{% if form.non_field_errors %}
						  {% for err in form.non_field_errors %}
						 	 {{ err }}
						  {% endfor %}
					{% endif %}
				</p>
			</div>
		</form>
	</article>
{% endblock section %}

<!-- Footer -->
<!-- Color de Fondo -->
{% block color_fondo_PiePagina %}
	Fondo-Negro-Transparente
{% endblock color_fondo_PiePagina %}