{% extends 'detail.html' %}
{% load static from staticfiles %}

{% block title %} 
	Detail - Departamento
{% endblock %}
<!-- Header -->

<!-- Color de Fondo -->
{% block color_fondo_headMenu %} 
	Fondo-Azul
{% endblock color_fondo_headMenu %}

<!-- Head URL del Menu -->
{% block url_menu%} 
	
{% endblock url_menu%}
<!-- Head Titulo -->
{% block titulo_menu%}
	Departamento | Menu
{% endblock titulo_menu%}

<!-- Avatar Sistema -->
{% block avatar_sistema %} 
	{% static 'imagenes/ico/Panel-Control-1.ico' %}
{% endblock avatar_sistema %}
<!-- Avatar Modulo -->
{% block avatar_modulo %} 
	{% static 'imagenes/ico/Login-1.ico' %}
{% endblock avatar_modulo %}

<!-- DetailHead - Rotulo -->
{% block rotulo_detail %}
	Detalle de Departamento
{% endblock rotulo_detail %}

<!-- DetailHead - ID -->
{% block id %}
	id : {{object.id}}
{% endblock id%}

<!-- DetailBody - Imagen -->
{% block imagen_detail %}
	<img src="{{object.imagen.url}}" alt="{{object.nombre}}" class="DetailImagen"/>
{% endblock imagen_detail %}


<!-- DetailBody - URL -->
{% block url_update %} 
	{% url 'departamento:update' object.id %}
{% endblock url_update %}

<!-- DetailBody - Descripcion -->
{% block imagen_descripcion_detail %}
	{{object.nombre}}
{% endblock imagen_descripcion_detail%}

{% block atributos %}
	<ul class="Atributos">
		{% if object.imagen %}
	
		{% else %}
			<li class="AtributoItem">
				<p class="Atributo Font-Size-P">
					<span class="Etiqueta Fondo-Celeste">
						id:	
					</span>

					<span class="Value">
						{{object.id}}
					</span>
				</p>
			</li>
		{% endif %}
		<li class="AtributoItem">
			<p class="Atributo Font-Size-P">
				<span class="Etiqueta Fondo-Celeste">
					País:	
				</span>

				<span class="Value">
					{{object.pais}}
				</span>
			</p>
		</li>
		<li class="AtributoItem">
			<p class="Atributo Font-Size-P">
				<span class="Etiqueta Fondo-Celeste">
					Nombre:	
				</span>

				<span class="Value">
					{{object.nombre}}
				</span>
			</p>
		</li>
		<li class="AtributoItem">
			<p class="Atributo Font-Size-P">
				<span class="Etiqueta Fondo-Celeste">
					Código Postal:	
				</span>

				<span class="Value">
					{{object.codigo_postal}}
				</span>
			</p>
		</li>
		<li class="AtributoItem">
			<p class="Atributo Font-Size-P">
				<span class="Etiqueta Fondo-Celeste">
					Imagen:	
				</span>

				<span class="Value">
					{{object.imagen}}
				</span>
			</p>
		</li>
		<li class="AtributoItem">
			<p class="AtributoArea Font-Size-P">
				<span class="EtiquetaArea Fondo-Celeste">
					Descripción:	
				</span>

				<span class="ValueArea">
					{{object.descripcion}}
				</span>
			</p>
		</li>
		
		<li class="AtributoItem">
			<p class="Atributo Font-Size-P">
				<span class="Etiqueta Fondo-Celeste">
					Fecha Registro:
				</span>

				<span class="Value">
					{{object.fecha_registro|date:"d/m/Y h:m:s"}}
				</span>
			</p>
		</li>
	</ul>
{% endblock atributos%}

